@charset "utf-8";

$desktop-l-width: 1920px;
$desktop-s-width: 1024px;
$mob-l-width: 640px;
$mob-s-width: 425px;

// PC large
@mixin pc-large {
  @media screen and (max-width: #{$desktop-l-width}) {
    @content;
  }
}
// only PC
@mixin pc {
  @media screen and (max-width: #{$desktop-s-width}) {
    @content;
  }
}
// 모바일
@mixin mob {
  @media screen and (max-width: #{$mob-l-width}) {
    @content;
  }
}
// 모바일 mid
@mixin mob-s {
  @media screen and (max-width: #{$mob-s-width}) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Noto Sans", "Noto Sans KR", sans-serif;
  letter-spacing: 2px;
  body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    .main {
      width: 100%;
      height: 100%;
      .nav {
        width: 100%;
        height: 60px;
        background-color: rgba($color: black, $alpha: 0.15);
        backdrop-filter: blur(5px);
        z-index: 2;
        position: fixed;
        .nav-list {
          max-width: 1000px;
          height: 100%;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: space-between;
          button {
            text-transform: uppercase;
            background: none;
            color: white;
            border: none;
            outline: none;
            margin: 15px;
            font-size: 16px;
          }
        }
      }
      #section {
        position: relative;
      }
      .content {
        width: 100%;
        height: 100%;
        .home {
          width: 100%;
          height: 100%;
          text-align: center;
          background-image: url(/image/1.jpg);
          background-size: cover;
        }
        .typingdiv {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
          p {
            font-size: 3vw;
            color: white;
            font-weight: 500;
          }
          .typing {
            height: 3vw;
            line-height: 3vw;
            margin-top: 2vw;
            display: inline-block;
            animation-name: cursor;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            padding-right: 5px;
          }
        }
        .about {
          width: 100%;
          height: 100%;
          background-color: white;
          .about-title {
            width: 100%;
            height: 90px;
            font-size: 45px;
            text-align: center;
            padding-top: 100px;
            text-transform: uppercase;
          }
          .about-titlebottom {
            height: 1px;
            width: 50px;
            background-color: rgb(223, 223, 223);
            margin: 0 auto 5vh auto;
          }
          .about-info {
            max-width: 1300px;
            margin: 0 auto;
            display: flex;
            .info-me {
              width: 40%;
              display: flex;
              flex-direction: column;
              margin: 0 auto;
              .infome-photo {
                background-image: url(/image/2.jpg);
                background-size: 100%;
                width: 250px;
                height: 250px;
                margin: 30px auto 30px auto;
                border-radius: 50%;
              }
              .infome-name {
                text-align: center;
                span:first-child {
                  font-size: 25px;
                  margin-right: 12px;
                }
              }
              .infome-job {
                text-align: center;
                color: #888;
                margin-bottom: 30px;
              }
              #infospan2 {
                text-align: left;
                margin-left: 140px;
              }
            }
            .skills {
              width: 50%;
              margin: 0 auto 5vh auto;
              border: 1px solid rgb(223, 223, 223);
              .center {
                width: 100%;
                padding: 20px;
                box-sizing: border-box;
                h1 {
                  text-transform: uppercase;
                  text-align: center;
                  font-size: 22px;
                  padding: 10px 0;
                }
                .skillBox {
                  width: 100%;
                  margin: 17px 0;
                  p {
                    text-transform: uppercase;
                    margin: 0 0 5px;
                    padding: 0;
                    font-weight: bold;
                    letter-spacing: 1px;
                  }
                  p:nth-child(2) {
                    float: right;
                    position: relative;
                    top: -25px;
                  }
                  .skill {
                    background: white;
                    padding: 4px;
                    box-sizing: border-box;
                    border: 1px solid rgb(50, 123, 240);
                    border-radius: 2px;
                    .skill_level {
                      background: rgb(50, 123, 240);
                      width: 100%;
                      height: 10px;
                    }
                  }
                }
              }
            }
          }
          .info-motto {
            display: flex;
            flex-direction: column;
            border: 1px solid rgb(223, 223, 223);
            max-width: 1100px;
            margin: 40px auto;
            padding: 20px 0 20px 140px;
            word-break: keep-all;
            font-size: 18px;
            line-height: 3vh;
            box-shadow: 0 10px 10px rgb(223, 223, 223);
          }
        }
        .project {
          width: 100%;
          height: 100%;
          background-color: #eee;
          .project-top {
            width: 100%;
            height: 90px;
            padding-top: 100px;
            padding-bottom: 30px;
            text-align: center;
            .project-title {
              width: 100%;
              font-size: 50px;
              text-transform: uppercase;
            }
          }
          .project-main {
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            #main-pj {
              width: 100%;
              height: 190px;
              display: flex;
              border: 1px solid white;
              margin: 20px auto;
              #video {
                width: 240px;
                height: 100%;
              }
              #video:hover {
                transform: scale(2.5);
              }
              #pj-content {
                width: 83%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-left: 50px;
                #pj-contentname p {
                  font-size: 26px;
                  font-weight: 800;
                  margin-top: 10px;
                }
                #pj-contenttext {
                  margin-bottom: 10px;
                  font-size: 22px;
                }
                #pj-contentlang {
                  width: 100%;
                  font-size: 20px;
                  display: flex;
                  justify-content: space-between;
                  margin-bottom: 5px;
                  color: #888;
                  a {
                    margin: 0 5px;
                    cursor: pointer;
                    color: rgb(72, 52, 138);
                    :visited {
                      color: rgb(72, 52, 138);
                    }
                    i {
                      font-size: 26px;
                    }
                  }
                }
              }
            }
          }
        }
        .Testimonials {
          background-image: url(/image/5.png);
          background-size: 23%;
          background-position: bottom;
          background-repeat: no-repeat;
          background-color: rgb(224, 224, 224);
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          .Testimonials-top {
            margin-top: 100px;
            width: 1000px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            .Testimonials-title {
              color: black;
              max-width: 1000px;
              font-size: 4rem;
              font-weight: 900;
              text-transform: uppercase;
              background-image: linear-gradient(to top, #283e51, #4b79a1);
              -webkit-text-fill-color: transparent; //투명글씨체
              -webkit-background-clip: text;
              margin: 0 0 20px 0;
            }
            .Testimonials-btn {
              display: flex;
              align-items: flex-end;
              a,
              p,
              i {
                color: black;
                font-size: 40px;
                font-weight: 1000;
                height: 80px;
                margin: 5px 5px;
                background-image: linear-gradient(to top, #283e51, #4b79a1);
                -webkit-text-fill-color: transparent; //투명글씨체
                -webkit-background-clip: text;
              }
              .btn-num1,
              .no2.btn-num2 {
                display: block;
              }
              .btn-num2,
              .no2.btn-num1 {
                display: none;
              }
            }
          }
          .Testimonials-content {
            max-width: 1200px;
            height: 500px;
            margin: 0 auto;
            .content-1,
            .content-2 {
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              padding: 25px 70px;
              border-radius: 10px;
              height: 300px;
              max-width: 1200px;
              color: white;
              background: #4b79a1;
              background: -webkit-linear-gradient(to right, #283e51, #4b79a1);
              background: linear-gradient(to right, #283e51, #4b79a1);
              .content-text {
                margin-bottom: 20px;
                line-height: 1.5;
              }
              p {
                font-size: 23px;
              }
            }
            .content-2 {
              display: none;
              p {
                font-size: 21px;
              }
            }
          }
          .no2.Testimonials-content {
            .content-1 {
              display: none;
            }
            .content-2 {
              display: flex;
            }
          }
        }
        .contact {
          width: 100%;
          height: 100%;
          .contact-top {
            max-width: 1000px;
            height: 100px;
            padding: 150px;
            margin: 0 auto;
            .c-top-title {
              font-size: 30px;
            }
            .c-top-titlebottom {
              width: 30px;
              height: 2px;
              background-color: black;
              margin-left: 130px;
            }
          }
          .contact-main {
            max-width: 1000px;
            max-height: 500px;
            margin: 0 auto;
            display: flex;
            .main-left {
              font-size: 60px;
              font-weight: 900;
            }
            .main-right {
              margin: 110px 0 50px 130px;
              font-weight: 700;
              line-height: 30px;
              .right-name {
                font-size: 20px;
                font-weight: 800;
              }
            }
          }
          .contact-bottom {
            max-width: 1000px;
            margin: 0 auto;
            font-size: 25px;
            display: flex;
            flex-direction: column;
            padding-left: 1020px;
            #contact-bottomitems {
              width: 200px;
              display: flex;
              .kakao-talk {
                width: 25px;
                height: 25px;
                background-image: url(/image/kakao-talk.png);
                background-size: cover;
                margin: 0 20px 10px 0;
              }
              i {
                margin: 0 20px 10px 0;
                font-size: 25px;
              }
              p {
                font-size: 17px;
                font-weight: 700;
                outline: none;
                border: none;
              }
            }
          }
        }
      }
    }
  }
}

@include pc-large() {
  * {
    body {
      .main {
        .content {
          .about {
            .about-title {
              padding-top: 60px;
            }
            .about-titlebottom {
              margin: 0 auto 4vh auto;
            }
            .about-info {
              max-width: 1100px;
              .info-me {
                #infospan2 {
                  margin-left: 100px;
                }
              }
            }
            .info-motto {
              max-width: 900px;
              padding: 20px 30px 20px 110px;
              margin: 0 auto;
            }
          }
          .project {
            .project-top {
              height: 70px;
              padding-top: 60px;
              .project-title {
                font-size: 45px;
              }
            }
            .project-main {
              max-width: 1200px;
              #main-pj {
                height: 130px;
                margin: 20px auto;
                max-width: 1000px;
                #video {
                  width: 180px;
                }
                #pj-content {
                  margin-left: 50px;
                  #pj-contentname p {
                    font-size: 22px;
                    font-weight: 700;
                    margin-top: 5px;
                    margin-bottom: 5px;
                  }
                  #pj-contenttext {
                    margin-bottom: 10px;
                    font-size: 16px;
                  }
                  #pj-contentlang {
                    font-size: 16px;
                    margin-bottom: 5px;
                    a {
                      margin: 5px;
                      i {
                        font-size: 23px;
                      }
                    }
                  }
                }
              }
            }
          }
          .Testimonials {
            background-size: 19%;
            .Testimonials-top {
              margin-top: 100px;
              max-width: 950px;
              .Testimonials-btn {
                a,
                p,
                i {
                  font-size: 35px;
                  height: 65px;
                }
              }
            }
            .Testimonials-content {
              .content-1,
              .content-2 {
                height: 270px;
                max-width: 840px;
                p {
                  font-size: 20px;
                }
              }
              .content-2 {
                p {
                  font-size: 19px;
                }
              }
            }
          }
          .contact {
            .contact-top {
              max-width: 840px;
              padding: 80px;
            }
            .contact-main {
              max-width: 840px;
              max-height: 500px;
              .main-right {
                margin: 100px 0 50px 76px;
                font-weight: 700;
                line-height: 30px;
              }
            }
            .contact-bottom {
              width: 100%;
              left: 540px;
              position: relative;
              padding: 0;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}

@include pc() {
  * {
    body {
      .main {
        .content {
          .typingdiv {
            p {
              font-size: 4vw;
            }
          }
          .about {
            .about-title {
              padding-top: 60px;
            }
            .about-titlebottom {
              display: none;
            }
            .about-info {
              max-width: 700px;
              .info-me {
                .infome-photo {
                  width: 200px;
                  height: 200px;
                  margin: 10px auto;
                }
                .infome-name {
                  display: flex;
                  flex-direction: column;
                }
                #infospan2 {
                  margin-left: 15px;
                  font-size: 14px;
                }
              }
              .skills {
                .center {
                  padding: 10px 20px;
                  h1 {
                    font-size: 16px;
                    padding: 0;
                  }
                }
              }
            }
            .info-motto {
              max-width: 700px;
              padding: 10px;
              margin: 0 auto;
              line-height: 2.2vh;
              span {
                font-size: 15px;
              }
            }
          }
          .project {
            .project-top {
              height: 50px;
              padding: 60px 0 20px 0;
              .project-title {
                font-size: 40px;
              }
            }
            .project-main {
              max-width: 850px;
              #main-pj {
                height: 130px;
                margin: 10px auto;
                #video {
                  width: 180px;
                }
                #pj-content {
                  margin-left: 15px;
                  #pj-contentname p {
                    font-size: 20px;
                    margin: 5px 0;
                  }
                  #pj-contenttext {
                    margin-bottom: 5px;
                    font-size: 14px;
                  }
                  #pj-contentlang {
                    font-size: 14px;
                    margin-bottom: 5px;
                    a {
                      margin: 0 5px;
                      i {
                        font-size: 20px;
                      }
                    }
                  }
                }
              }
            }
          }
          .project {
            .project-top {
              height: 70px;
              padding-top: 60px;
              .project-title {
                font-size: 45px;
              }
            }
            .project-main {
              max-width: 1200px;
              #main-pj {
                height: 130px;
                margin: 20px auto;
                max-width: 1000px;
                #video {
                  width: 180px;
                }
                #pj-content {
                  margin-left: 50px;
                  #pj-contentname p {
                    font-size: 22px;
                    font-weight: 700;
                    margin-top: 5px;
                    margin-bottom: 5px;
                  }
                  #pj-contenttext {
                    margin-bottom: 10px;
                    font-size: 16px;
                  }
                  #pj-contentlang {
                    font-size: 16px;
                    margin-bottom: 5px;
                    a {
                      margin: 5px;
                      i {
                        font-size: 23px;
                      }
                    }
                  }
                }
              }
            }
          }
          .Testimonials {
            background-size: 35%;
            .Testimonials-top {
              width: 580px;
              .Testimonials-title {
                font-size: 40px;
                height: 45px;
              }
              .Testimonials-btn {
                a,
                p,
                i {
                  font-size: 25px;
                  height: 45px;
                }
              }
            }
            .Testimonials-content {
              .content-1,
              .content-2 {
                height: 270px;
                width: 550px;
                padding: 5px 20px;
                p {
                  font-size: 20px;
                }
              }
              .content-2 {
                p {
                  font-size: 16px;
                }
              }
            }
          }
          .contact {
            .contact-top {
              max-width: 630px;
              padding: 80px;
            }
            .contact-main {
              max-width: 600px;
              max-height: 500px;
              .main-left {
                font-size: 40px;
                font-weight: 900;
              }
              .main-right {
                margin: 200px 0 50px 5px;
                font-weight: 700;
                line-height: 30px;
                font-size: 13px;
              }
            }
            .contact-bottom {
              width: 630px;
              margin: 0 auto;
              left: 280px;
            }
          }
        }
      }
    }
  }
  @include mob() {
    * {
      body {
        .main {
          .nav {
            height: 50px;
            .nav-list {
              button {
                font-size: 14px;
                margin: 7px;
              }
            }
          }
          .content {
            .about {
              .about-title {
                padding-top: 50px;
                height: 80px;
              }
              .about-info {
                max-width: 520px;
                height: 450px;
                .info-me {
                  height: 400px;
                  .infome-photo {
                    width: 150px;
                    height: 150px;
                    margin: 5px auto;
                  }
                  #infospan2 {
                    margin-left: 10px;
                    font-size: 14px;
                  }
                }
                .skills {
                  .center {
                    padding: 5px 10px;
                    h1 {
                      font-size: 16px;
                      padding: 0;
                    }
                    .skillBox {
                      p {
                        font-size: 12px;
                        font-weight: 700;
                      }
                    }
                  }
                }
              }
              .info-motto {
                max-width: 600px;
                span {
                  font-size: 13px;
                }
              }
            }
            .project {
              .project-top {
                height: 40px;
                padding: 50px 0 20px 0;
                .project-title {
                  font-size: 30px;
                }
              }
              .project-main {
                max-width: 600px;
                margin: 0 auto;
                #main-pj {
                  height: 130px;
                  #video {
                    width: 150px;
                  }
                  #pj-content {
                    margin-left: 10px;
                    #pj-contentname p {
                      font-size: 19px;
                      margin: 4px 0;
                    }
                    #pj-contenttext {
                      margin-bottom: 4px;
                      font-size: 12px;
                    }
                    #pj-contentlang {
                      font-size: 12px;
                      margin-bottom: 4px;
                      a {
                        margin: 0 5px;
                        i {
                          font-size: 20px;
                        }
                      }
                    }
                  }
                }
              }
            }
            .Testimonials {
              background-size: 64%;
              .Testimonials-top {
                width: 430px;
                .Testimonials-title {
                  font-size: 30px;
                  height: 35px;
                }
                .Testimonials-btn {
                  a,
                  p,
                  i {
                    font-size: 20px;
                    height: 40px;
                  }
                }
              }
              .Testimonials-content {
                .content-1,
                .content-2 {
                  height: 270px;
                  width: 400px;
                  padding: 5px 20px;
                  p {
                    font-size: 18px;
                  }
                }
                .content-2 {
                  p {
                    font-size: 14px;
                  }
                }
              }
            }
            .contact {
              .contact-top {
                max-width: 430px;
                padding: 80px auto 20px auto;
              }
              .contact-main {
                max-width: 430px;
                display: flex;
                flex-direction: column;
                .main-left {
                  font-size: 40px;
                  font-weight: 900;
                }
                .main-right {
                  margin: 50px 0 50px 5px;
                  font-weight: 700;
                  line-height: 30px;
                  font-size: 14px;
                }
              }
              .contact-bottom {
                width: 430px;
                margin: 50px auto 50px auto;
                left: 140px;
              }
            }
          }
        }
      }
    }
  }
  @keyframes cursor {
    0% {
      border-right: 2px solid #fff;
    }
    50% {
      border-right: 2px solid #333333;
    }
    100% {
      border-right: 2px solid #fff;
    }
  }
}
