* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Noto Sans", "Noto Sans KR", sans-serif;
  letter-spacing: 2px;
}

* body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

* body .main {
  width: 100%;
  height: 100%;
}

* body .main .nav {
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 2;
  position: fixed;
}

* body .main .nav .nav-list {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* body .main .nav .nav-list button {
  text-transform: uppercase;
  background: none;
  color: white;
  border: none;
  outline: none;
  margin: 15px;
  font-size: 16px;
}

* body .main #section {
  position: relative;
}

* body .main .content {
  width: 100%;
  height: 100%;
}

* body .main .content .home {
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url(/image/1.jpg);
  background-size: cover;
}

* body .main .content .typingdiv {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

* body .main .content .typingdiv p {
  font-size: 3vw;
  color: white;
  font-weight: 500;
}

* body .main .content .typingdiv .typing {
  height: 3vw;
  line-height: 3vw;
  margin-top: 2vw;
  display: inline-block;
  -webkit-animation-name: cursor;
          animation-name: cursor;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  padding-right: 5px;
}

* body .main .content .about {
  width: 100%;
  height: 100%;
  background-color: white;
}

* body .main .content .about .about-title {
  width: 100%;
  height: 90px;
  font-size: 45px;
  text-align: center;
  padding-top: 100px;
  text-transform: uppercase;
}

* body .main .content .about .about-titlebottom {
  height: 1px;
  width: 50px;
  background-color: #dfdfdf;
  margin: 0 auto 5vh auto;
}

* body .main .content .about .about-info {
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* body .main .content .about .about-info .info-me {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

* body .main .content .about .about-info .info-me .infome-photo {
  background-image: url(/image/2.jpg);
  background-size: 100%;
  width: 250px;
  height: 250px;
  margin: 30px auto 30px auto;
  border-radius: 50%;
}

* body .main .content .about .about-info .info-me .infome-name {
  text-align: center;
}

* body .main .content .about .about-info .info-me .infome-name span:first-child {
  font-size: 25px;
  margin-right: 12px;
}

* body .main .content .about .about-info .info-me .infome-job {
  text-align: center;
  color: #888;
  margin-bottom: 30px;
}

* body .main .content .about .about-info .info-me #infospan2 {
  text-align: left;
  margin-left: 140px;
}

* body .main .content .about .about-info .skills {
  width: 50%;
  margin: 0 auto 5vh auto;
  border: 1px solid #dfdfdf;
}

* body .main .content .about .about-info .skills .center {
  width: 100%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body .main .content .about .about-info .skills .center h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  padding: 10px 0;
}

* body .main .content .about .about-info .skills .center .skillBox {
  width: 100%;
  margin: 17px 0;
}

* body .main .content .about .about-info .skills .center .skillBox p {
  text-transform: uppercase;
  margin: 0 0 5px;
  padding: 0;
  font-weight: bold;
  letter-spacing: 1px;
}

* body .main .content .about .about-info .skills .center .skillBox p:nth-child(2) {
  float: right;
  position: relative;
  top: -25px;
}

* body .main .content .about .about-info .skills .center .skillBox .skill {
  background: white;
  padding: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #327bf0;
  border-radius: 2px;
}

* body .main .content .about .about-info .skills .center .skillBox .skill .skill_level {
  background: #327bf0;
  width: 100%;
  height: 10px;
}

* body .main .content .about .info-motto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #dfdfdf;
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px 0 20px 140px;
  word-break: keep-all;
  font-size: 18px;
  line-height: 3vh;
  -webkit-box-shadow: 0 10px 10px #dfdfdf;
          box-shadow: 0 10px 10px #dfdfdf;
}

* body .main .content .project {
  width: 100%;
  height: 100%;
  background-color: #eee;
}

* body .main .content .project .project-top {
  width: 100%;
  height: 90px;
  padding-top: 100px;
  padding-bottom: 30px;
  text-align: center;
}

* body .main .content .project .project-top .project-title {
  width: 100%;
  font-size: 50px;
  text-transform: uppercase;
}

* body .main .content .project .project-main {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body .main .content .project .project-main #main-pj {
  width: 100%;
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid white;
  margin: 20px auto;
}

* body .main .content .project .project-main #main-pj #video {
  width: 240px;
  height: 100%;
}

* body .main .content .project .project-main #main-pj #video:hover {
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
}

* body .main .content .project .project-main #main-pj #pj-content {
  width: 83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 50px;
}

* body .main .content .project .project-main #main-pj #pj-content #pj-contentname p {
  font-size: 26px;
  font-weight: 800;
  margin-top: 10px;
}

* body .main .content .project .project-main #main-pj #pj-content #pj-contenttext {
  margin-bottom: 10px;
  font-size: 22px;
}

* body .main .content .project .project-main #main-pj #pj-content #pj-contentlang {
  width: 100%;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
  color: #888;
}

* body .main .content .project .project-main #main-pj #pj-content #pj-contentlang a {
  margin: 0 5px;
  cursor: pointer;
  color: #48348a;
}

* body .main .content .project .project-main #main-pj #pj-content #pj-contentlang a :visited {
  color: #48348a;
}

* body .main .content .project .project-main #main-pj #pj-content #pj-contentlang a i {
  font-size: 26px;
}

* body .main .content .Testimonials {
  background-image: url(/image/5.png);
  background-size: 23%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #e0e0e0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

* body .main .content .Testimonials .Testimonials-top {
  margin-top: 100px;
  width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* body .main .content .Testimonials .Testimonials-top .Testimonials-title {
  color: black;
  max-width: 1000px;
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#283e51), to(#4b79a1));
  background-image: linear-gradient(to top, #283e51, #4b79a1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin: 0 0 20px 0;
}

* body .main .content .Testimonials .Testimonials-top .Testimonials-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

* body .main .content .Testimonials .Testimonials-top .Testimonials-btn a,
* body .main .content .Testimonials .Testimonials-top .Testimonials-btn p,
* body .main .content .Testimonials .Testimonials-top .Testimonials-btn i {
  color: black;
  font-size: 40px;
  font-weight: 1000;
  height: 80px;
  margin: 5px 5px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#283e51), to(#4b79a1));
  background-image: linear-gradient(to top, #283e51, #4b79a1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

* body .main .content .Testimonials .Testimonials-top .Testimonials-btn .btn-num1,
* body .main .content .Testimonials .Testimonials-top .Testimonials-btn .no2.btn-num2 {
  display: block;
}

* body .main .content .Testimonials .Testimonials-top .Testimonials-btn .btn-num2,
* body .main .content .Testimonials .Testimonials-top .Testimonials-btn .no2.btn-num1 {
  display: none;
}

* body .main .content .Testimonials .Testimonials-content {
  max-width: 1200px;
  height: 500px;
  margin: 0 auto;
}

* body .main .content .Testimonials .Testimonials-content .content-1,
* body .main .content .Testimonials .Testimonials-content .content-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 25px 70px;
  border-radius: 10px;
  height: 300px;
  max-width: 1200px;
  color: white;
  background: #4b79a1;
  background: -webkit-gradient(linear, left top, right top, from(#283e51), to(#4b79a1));
  background: linear-gradient(to right, #283e51, #4b79a1);
}

* body .main .content .Testimonials .Testimonials-content .content-1 .content-text,
* body .main .content .Testimonials .Testimonials-content .content-2 .content-text {
  margin-bottom: 20px;
  line-height: 1.5;
}

* body .main .content .Testimonials .Testimonials-content .content-1 p,
* body .main .content .Testimonials .Testimonials-content .content-2 p {
  font-size: 23px;
}

* body .main .content .Testimonials .Testimonials-content .content-2 {
  display: none;
}

* body .main .content .Testimonials .Testimonials-content .content-2 p {
  font-size: 21px;
}

* body .main .content .Testimonials .no2.Testimonials-content .content-1 {
  display: none;
}

* body .main .content .Testimonials .no2.Testimonials-content .content-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* body .main .content .contact {
  width: 100%;
  height: 100%;
}

* body .main .content .contact .contact-top {
  max-width: 1000px;
  height: 100px;
  padding: 150px;
  margin: 0 auto;
}

* body .main .content .contact .contact-top .c-top-title {
  font-size: 30px;
}

* body .main .content .contact .contact-top .c-top-titlebottom {
  width: 30px;
  height: 2px;
  background-color: black;
  margin-left: 130px;
}

* body .main .content .contact .contact-main {
  max-width: 1000px;
  max-height: 500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* body .main .content .contact .contact-main .main-left {
  font-size: 60px;
  font-weight: 900;
}

* body .main .content .contact .contact-main .main-right {
  margin: 110px 0 50px 130px;
  font-weight: 700;
  line-height: 30px;
}

* body .main .content .contact .contact-main .main-right .right-name {
  font-size: 20px;
  font-weight: 800;
}

* body .main .content .contact .contact-bottom {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1020px;
}

* body .main .content .contact .contact-bottom #contact-bottomitems {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* body .main .content .contact .contact-bottom #contact-bottomitems .kakao-talk {
  width: 25px;
  height: 25px;
  background-image: url(/image/kakao-talk.png);
  background-size: cover;
  margin: 0 20px 10px 0;
}

* body .main .content .contact .contact-bottom #contact-bottomitems i {
  margin: 0 20px 10px 0;
  font-size: 25px;
}

* body .main .content .contact .contact-bottom #contact-bottomitems p {
  font-size: 17px;
  font-weight: 700;
  outline: none;
  border: none;
}

@media screen and (max-width: 1920px) {
  * body .main .content .about .about-title {
    padding-top: 60px;
  }
  * body .main .content .about .about-titlebottom {
    margin: 0 auto 4vh auto;
  }
  * body .main .content .about .about-info {
    max-width: 1100px;
  }
  * body .main .content .about .about-info .info-me #infospan2 {
    margin-left: 100px;
  }
  * body .main .content .about .info-motto {
    max-width: 900px;
    padding: 20px 30px 20px 110px;
    margin: 0 auto;
  }
  * body .main .content .project .project-top {
    height: 70px;
    padding-top: 60px;
  }
  * body .main .content .project .project-top .project-title {
    font-size: 45px;
  }
  * body .main .content .project .project-main {
    max-width: 1200px;
  }
  * body .main .content .project .project-main #main-pj {
    height: 130px;
    margin: 20px auto;
    max-width: 1000px;
  }
  * body .main .content .project .project-main #main-pj #video {
    width: 180px;
  }
  * body .main .content .project .project-main #main-pj #pj-content {
    margin-left: 50px;
  }
  * body .main .content .project .project-main #main-pj #pj-content #pj-contentname p {
    font-size: 22px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  * body .main .content .project .project-main #main-pj #pj-content #pj-contenttext {
    margin-bottom: 10px;
    font-size: 16px;
  }
  * body .main .content .project .project-main #main-pj #pj-content #pj-contentlang {
    font-size: 16px;
    margin-bottom: 5px;
  }
  * body .main .content .project .project-main #main-pj #pj-content #pj-contentlang a {
    margin: 5px;
  }
  * body .main .content .project .project-main #main-pj #pj-content #pj-contentlang a i {
    font-size: 23px;
  }
  * body .main .content .Testimonials {
    background-size: 19%;
  }
  * body .main .content .Testimonials .Testimonials-top {
    margin-top: 100px;
    max-width: 950px;
  }
  * body .main .content .Testimonials .Testimonials-top .Testimonials-btn a,
  * body .main .content .Testimonials .Testimonials-top .Testimonials-btn p,
  * body .main .content .Testimonials .Testimonials-top .Testimonials-btn i {
    font-size: 35px;
    height: 65px;
  }
  * body .main .content .Testimonials .Testimonials-content .content-1,
  * body .main .content .Testimonials .Testimonials-content .content-2 {
    height: 270px;
    max-width: 840px;
  }
  * body .main .content .Testimonials .Testimonials-content .content-1 p,
  * body .main .content .Testimonials .Testimonials-content .content-2 p {
    font-size: 20px;
  }
  * body .main .content .Testimonials .Testimonials-content .content-2 p {
    font-size: 19px;
  }
  * body .main .content .contact .contact-top {
    max-width: 840px;
    padding: 80px;
  }
  * body .main .content .contact .contact-main {
    max-width: 840px;
    max-height: 500px;
  }
  * body .main .content .contact .contact-main .main-right {
    margin: 100px 0 50px 76px;
    font-weight: 700;
    line-height: 30px;
  }
  * body .main .content .contact .contact-bottom {
    width: 100%;
    left: 540px;
    position: relative;
    padding: 0;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  * body .main .content .typingdiv p {
    font-size: 4vw;
  }
  * body .main .content .about .about-title {
    padding-top: 60px;
  }
  * body .main .content .about .about-titlebottom {
    display: none;
  }
  * body .main .content .about .about-info {
    max-width: 700px;
  }
  * body .main .content .about .about-info .info-me .infome-photo {
    width: 200px;
    height: 200px;
    margin: 10px auto;
  }
  * body .main .content .about .about-info .info-me .infome-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  * body .main .content .about .about-info .info-me #infospan2 {
    margin-left: 15px;
    font-size: 14px;
  }
  * body .main .content .about .about-info .skills .center {
    padding: 10px 20px;
  }
  * body .main .content .about .about-info .skills .center h1 {
    font-size: 16px;
    padding: 0;
  }
  * body .main .content .about .info-motto {
    max-width: 700px;
    padding: 10px;
    margin: 0 auto;
    line-height: 2.2vh;
  }
  * body .main .content .about .info-motto span {
    font-size: 15px;
  }
  * body .main .content .project .project-top {
    height: 50px;
    padding: 60px 0 20px 0;
  }
  * body .main .content .project .project-top .project-title {
    font-size: 40px;
  }
  * body .main .content .project .project-main {
    max-width: 850px;
  }
  * body .main .content .project .project-main #main-pj {
    height: 130px;
    margin: 10px auto;
  }
  * body .main .content .project .project-main #main-pj #video {
    width: 180px;
  }
  * body .main .content .project .project-main #main-pj #pj-content {
    margin-left: 15px;
  }
  * body .main .content .project .project-main #main-pj #pj-content #pj-contentname p {
    font-size: 20px;
    margin: 5px 0;
  }
  * body .main .content .project .project-main #main-pj #pj-content #pj-contenttext {
    margin-bottom: 5px;
    font-size: 14px;
  }
  * body .main .content .project .project-main #main-pj #pj-content #pj-contentlang {
    font-size: 14px;
    margin-bottom: 5px;
  }
  * body .main .content .project .project-main #main-pj #pj-content #pj-contentlang a {
    margin: 0 5px;
  }
  * body .main .content .project .project-main #main-pj #pj-content #pj-contentlang a i {
    font-size: 20px;
  }
  * body .main .content .project .project-top {
    height: 70px;
    padding-top: 60px;
  }
  * body .main .content .project .project-top .project-title {
    font-size: 45px;
  }
  * body .main .content .project .project-main {
    max-width: 1200px;
  }
  * body .main .content .project .project-main #main-pj {
    height: 130px;
    margin: 20px auto;
    max-width: 1000px;
  }
  * body .main .content .project .project-main #main-pj #video {
    width: 180px;
  }
  * body .main .content .project .project-main #main-pj #pj-content {
    margin-left: 50px;
  }
  * body .main .content .project .project-main #main-pj #pj-content #pj-contentname p {
    font-size: 22px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  * body .main .content .project .project-main #main-pj #pj-content #pj-contenttext {
    margin-bottom: 10px;
    font-size: 16px;
  }
  * body .main .content .project .project-main #main-pj #pj-content #pj-contentlang {
    font-size: 16px;
    margin-bottom: 5px;
  }
  * body .main .content .project .project-main #main-pj #pj-content #pj-contentlang a {
    margin: 5px;
  }
  * body .main .content .project .project-main #main-pj #pj-content #pj-contentlang a i {
    font-size: 23px;
  }
  * body .main .content .Testimonials {
    background-size: 35%;
  }
  * body .main .content .Testimonials .Testimonials-top {
    width: 580px;
  }
  * body .main .content .Testimonials .Testimonials-top .Testimonials-title {
    font-size: 40px;
    height: 45px;
  }
  * body .main .content .Testimonials .Testimonials-top .Testimonials-btn a,
  * body .main .content .Testimonials .Testimonials-top .Testimonials-btn p,
  * body .main .content .Testimonials .Testimonials-top .Testimonials-btn i {
    font-size: 25px;
    height: 45px;
  }
  * body .main .content .Testimonials .Testimonials-content .content-1,
  * body .main .content .Testimonials .Testimonials-content .content-2 {
    height: 270px;
    width: 550px;
    padding: 5px 20px;
  }
  * body .main .content .Testimonials .Testimonials-content .content-1 p,
  * body .main .content .Testimonials .Testimonials-content .content-2 p {
    font-size: 20px;
  }
  * body .main .content .Testimonials .Testimonials-content .content-2 p {
    font-size: 16px;
  }
  * body .main .content .contact .contact-top {
    max-width: 630px;
    padding: 80px;
  }
  * body .main .content .contact .contact-main {
    max-width: 600px;
    max-height: 500px;
  }
  * body .main .content .contact .contact-main .main-left {
    font-size: 40px;
    font-weight: 900;
  }
  * body .main .content .contact .contact-main .main-right {
    margin: 200px 0 50px 5px;
    font-weight: 700;
    line-height: 30px;
    font-size: 13px;
  }
  * body .main .content .contact .contact-bottom {
    width: 630px;
    margin: 0 auto;
    left: 280px;
  }
}

@media screen and (max-width: 1024px) and (max-width: 640px) {
  * body .main .nav {
    height: 50px;
  }
  * body .main .nav .nav-list button {
    font-size: 14px;
    margin: 7px;
  }
  * body .main .content .about .about-title {
    padding-top: 50px;
    height: 80px;
  }
  * body .main .content .about .about-info {
    max-width: 520px;
    height: 450px;
  }
  * body .main .content .about .about-info .info-me {
    height: 400px;
  }
  * body .main .content .about .about-info .info-me .infome-photo {
    width: 150px;
    height: 150px;
    margin: 5px auto;
  }
  * body .main .content .about .about-info .info-me #infospan2 {
    margin-left: 10px;
    font-size: 14px;
  }
  * body .main .content .about .about-info .skills .center {
    padding: 5px 10px;
  }
  * body .main .content .about .about-info .skills .center h1 {
    font-size: 16px;
    padding: 0;
  }
  * body .main .content .about .about-info .skills .center .skillBox p {
    font-size: 12px;
    font-weight: 700;
  }
  * body .main .content .about .info-motto {
    max-width: 600px;
  }
  * body .main .content .about .info-motto span {
    font-size: 13px;
  }
  * body .main .content .project .project-top {
    height: 40px;
    padding: 50px 0 20px 0;
  }
  * body .main .content .project .project-top .project-title {
    font-size: 30px;
  }
  * body .main .content .project .project-main {
    max-width: 600px;
    margin: 0 auto;
  }
  * body .main .content .project .project-main #main-pj {
    height: 130px;
  }
  * body .main .content .project .project-main #main-pj #video {
    width: 150px;
  }
  * body .main .content .project .project-main #main-pj #pj-content {
    margin-left: 10px;
  }
  * body .main .content .project .project-main #main-pj #pj-content #pj-contentname p {
    font-size: 19px;
    margin: 4px 0;
  }
  * body .main .content .project .project-main #main-pj #pj-content #pj-contenttext {
    margin-bottom: 4px;
    font-size: 12px;
  }
  * body .main .content .project .project-main #main-pj #pj-content #pj-contentlang {
    font-size: 12px;
    margin-bottom: 4px;
  }
  * body .main .content .project .project-main #main-pj #pj-content #pj-contentlang a {
    margin: 0 5px;
  }
  * body .main .content .project .project-main #main-pj #pj-content #pj-contentlang a i {
    font-size: 20px;
  }
  * body .main .content .Testimonials {
    background-size: 64%;
  }
  * body .main .content .Testimonials .Testimonials-top {
    width: 430px;
  }
  * body .main .content .Testimonials .Testimonials-top .Testimonials-title {
    font-size: 30px;
    height: 35px;
  }
  * body .main .content .Testimonials .Testimonials-top .Testimonials-btn a,
  * body .main .content .Testimonials .Testimonials-top .Testimonials-btn p,
  * body .main .content .Testimonials .Testimonials-top .Testimonials-btn i {
    font-size: 20px;
    height: 40px;
  }
  * body .main .content .Testimonials .Testimonials-content .content-1,
  * body .main .content .Testimonials .Testimonials-content .content-2 {
    height: 270px;
    width: 400px;
    padding: 5px 20px;
  }
  * body .main .content .Testimonials .Testimonials-content .content-1 p,
  * body .main .content .Testimonials .Testimonials-content .content-2 p {
    font-size: 18px;
  }
  * body .main .content .Testimonials .Testimonials-content .content-2 p {
    font-size: 14px;
  }
  * body .main .content .contact .contact-top {
    max-width: 430px;
    padding: 80px auto 20px auto;
  }
  * body .main .content .contact .contact-main {
    max-width: 430px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  * body .main .content .contact .contact-main .main-left {
    font-size: 40px;
    font-weight: 900;
  }
  * body .main .content .contact .contact-main .main-right {
    margin: 50px 0 50px 5px;
    font-weight: 700;
    line-height: 30px;
    font-size: 14px;
  }
  * body .main .content .contact .contact-bottom {
    width: 430px;
    margin: 50px auto 50px auto;
    left: 140px;
  }
}

@media screen and (max-width: 1024px) {
  @-webkit-keyframes cursor {
    0% {
      border-right: 2px solid #fff;
    }
    50% {
      border-right: 2px solid #333333;
    }
    100% {
      border-right: 2px solid #fff;
    }
  }
  @keyframes cursor {
    0% {
      border-right: 2px solid #fff;
    }
    50% {
      border-right: 2px solid #333333;
    }
    100% {
      border-right: 2px solid #fff;
    }
  }
}
/*# sourceMappingURL=index.css.map */